<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
</head>

<body>
    <h1>Under Maintenance</h1>
    <p>Site under maintenance! Please check back again</p>
    {{> footer}}
</body>

</html>